.contenedortotalproductos{
    display: grid;
    grid-template: 
    "section section main" auto
    "footer footer footer" 50px /
    300px    300px  auto;
    column-gap:20px;
    row-gap: 5px;
    
.section{
    grid-area: section;
    margin-right: 20px;
    .cond12{
        display: flex;
        margin: 10px;
        padding: 10px;
        margin-left: 20px;
        overflow: auto;
        border-radius: 10px;
        box-shadow:$colorborde;
        .imgproductos{
            width: 200px;
            height: 200px;
            border-radius: 10px;
        }
        .pproductos{
            color: $colorletras;
            width: 300px;
            height: 200px;
            margin-left: 25px;
            overflow: hidden;
            text-align: center;
        }
    }
}
.main{
    grid-area: main;
    justify-items: end;
    margin-left: 100px;
    margin-top: 20px;
    .iconproductos{
        width: 48px;
        height: 48px;
        margin-left: 60px;
        background-color:rgb(174, 186, 197);
        border-radius: 4px;
        &:hover {
            width:60px;
            height: 60px;
        }
    }
    .pproductos2{
        color: $colorletras;
        width: 400px;
        height: 500px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 0px 10px#374a60;
    }
    .imagen4{
        width: 300px;
        height: 400px;
        margin-left: 50px;
        border-radius: 10px;
        margin-top: 10px;
        }
    }
}